.leagues {
  text-decoration: none;
  border: solid 1px black;
  background-color: white;
  padding: 25px;
  width: 20px;
  font-size: 12px
}

.leaguediv {
  text-align: center;
  padding: 25px
}

.theirPlayersDraft {
  text-align: center;
  float: right;
  /* display: inline-block; */
  border: solid 1px red;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /* overflow: auto; */
}

.myTeamDraft {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  text-align: center;
  float:left; 
  /* display: inline-block; */
  border: solid 1px blue;
  /* max-width: 100%; */
}

.draftDiv {
  /* float: left; */
  display: inline-block;
  text-align: center;
  margin: 0px 500px;
  /* width: 60%; */
  /* max-width: 100%; */
  border: solid 1px black;
  /* position: absolute; */
  /* overflow: auto; */
}

.draftCard {
  float: left;
  /* display: inline-block; */
  overflow: auto;
}

.playerCard {
  display: inline-block;
  border: 1px solid orange;
  margin: 10%;
}

.myMatchup {
  float: left;
  margin: 0px 200px
}

.otherMatchup {
  float: right;
  margin: 0px 200px
}

.freeWaiver {
  display: inline-block;
  /* float: left; */
  width: 200px;
  border: black solid 1px;
  margin: 2px;
  padding: 2px;
}

.buttons {
  style: block;
  float:right;
}
.button {
 background-color: white;
  color: black;
  border: 2px solid gray;
  margin: 10px;
}

.homepage {
  height: 100%;
  width: 100%; 
  position: absolute; 
  top: 0; 
  left: 0; 
  background-image: url("images/nalcs-cover.jpg");
}

.loginPage {
  background: #010a13;
  width: 400px;
  height: 500px;
  position: absolute;
  top: 20%;
  left: 85%;
  border: 3px solid rgb(120, 90, 40);
  margin: -70px 0 0 -170px;
}

.loginPage h2{
  color: #f0e6d2;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
}